.carousel-bg {
    background: linear-gradient( 90deg, rgb(88, 73, 129) 0%, rgb(20, 20, 53) 35%, rgb(111, 19, 114) 100%);
    background-size: cover;
    background-position: center;
    height: 80vh;
}