.service-container {
    position: relative;
}

.service-img {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    transform-origin: bottom;
    z-index: 1;
    border-radius: 10px;
}

.hover-item {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

.checkout-btn {
    padding: 20px;
    font-weight: bold;
}

.service-container:hover .service-img {
    transform: translateY(-100%) rotateX(90deg);
}